180060G_Exercise_02.json
[
    {
        "id": "eded1cda981068c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d3ba92a28457c7b",
        "type": "inject",
        "z": "eded1cda981068c8",
        "name": "nt:1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "a5034d5c538b132f",
                "9a35efb93429112b"
            ]
        ]
    },
    {
        "id": "88c455a90197969e",
        "type": "inject",
        "z": "eded1cda981068c8",
        "name": "nt:0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "a5034d5c538b132f",
                "9a35efb93429112b"
            ]
        ]
    },
    {
        "id": "a5034d5c538b132f",
        "type": "ui_switch",
        "z": "eded1cda981068c8",
        "name": "nt",
        "label": "switch",
        "tooltip": "",
        "group": "4037e70d97223581",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "5f09f5b901d04bf4",
                "5624664b1d2d49e2",
                "29cce71af09af199"
            ]
        ]
    },
    {
        "id": "5f09f5b901d04bf4",
        "type": "ui_gauge",
        "z": "eded1cda981068c8",
        "name": "",
        "group": "4037e70d97223581",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "5624664b1d2d49e2",
        "type": "ui_chart",
        "z": "eded1cda981068c8",
        "name": "",
        "group": "4037e70d97223581",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9a35efb93429112b",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb1c604bdfec2627",
        "type": "mqtt in",
        "z": "eded1cda981068c8",
        "name": "PDAControl/TestNodeRed",
        "topic": "180060G",
        "qos": "2",
        "datatype": "auto",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "5be07545927f591f",
                "6d631a82b1a2c0a0"
            ]
        ]
    },
    {
        "id": "5be07545927f591f",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 580,
        "wires": []
    },
    {
        "id": "6d631a82b1a2c0a0",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "",
        "func": "//msg.payload=parseInt(msg.payload);\n//return msg;\nmsg.payload = parseInt(msg.payload); \nif (isNaN(msg.payload)){ \n    msg.payload =\"Not Numeric\"; \n    msg.topic = \"Invalid Data\"; \n    msg.retain = true; \n} \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "472f857d1c67a34c",
                "45f9e628b897f3c5"
            ]
        ]
    },
    {
        "id": "472f857d1c67a34c",
        "type": "switch",
        "z": "eded1cda981068c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            },
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "9a35efb93429112b",
                "a5034d5c538b132f"
            ],
            [
                "b63cde1c81865def",
                "79aaa25f69a44283"
            ]
        ]
    },
    {
        "id": "b63cde1c81865def",
        "type": "ui_toast",
        "z": "eded1cda981068c8",
        "position": "top right",
        "displayTime": "15",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "79aaa25f69a44283",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "45f9e628b897f3c5",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "ddd94f613e6390da",
        "type": "delay",
        "z": "eded1cda981068c8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1320,
        "y": 440,
        "wires": [
            [
                "2fc28babeb79add2"
            ]
        ]
    },
    {
        "id": "2fc28babeb79add2",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "function 1",
        "func": "var off = flow.get('off');\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count') || 0;\nif(off==0){    \n    count += 1;\n    // store the value back\n    context.set('count', count);\n    // make it part of the outgoing msg object\n    msg.count = count;\n    return msg;\n} \nelse if (off == 1 && count != 0){\n    off = null;\n    flow.set('off',off);\n    count = 0;\n    context.set('count', count);\n    msg.count = count;\n    return msg;\n}\nelse if (off == 1 && count == 0) {\n    off = null;\n    flow.set('off', off);\n    count = 0;\n    context.set('count', count);\n    msg.count = count;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 240,
        "wires": [
            [
                "7b758b94af9939c7",
                "2caf659de50f5930"
            ]
        ]
    },
    {
        "id": "7b758b94af9939c7",
        "type": "switch",
        "z": "eded1cda981068c8",
        "name": "",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 1550,
        "y": 240,
        "wires": [
            [
                "6996d847074b1713"
            ],
            [
                "ddd94f613e6390da"
            ],
            [
                "ddd94f613e6390da",
                "236f684d2a16d064"
            ],
            [
                "ddd94f613e6390da",
                "f4e455b52f104c17"
            ],
            [
                "ddd94f613e6390da",
                "b9aaf6f968cb519a"
            ],
            [
                "ddd94f613e6390da",
                "742fc5b31dabf821"
            ],
            [
                "ddd94f613e6390da",
                "85e3b52c3176dbaa"
            ]
        ]
    },
    {
        "id": "5c5fdbc05f1df3d2",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "input testing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "29cce71af09af199",
        "type": "switch",
        "z": "eded1cda981068c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "5c5fdbc05f1df3d2",
                "69e928992f7a3374",
                "2fc28babeb79add2"
            ],
            [
                "5c5fdbc05f1df3d2",
                "3e2370783ebe8a5e"
            ]
        ]
    },
    {
        "id": "3e2370783ebe8a5e",
        "type": "change",
        "z": "eded1cda981068c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "off",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "2fc28babeb79add2"
            ]
        ]
    },
    {
        "id": "69e928992f7a3374",
        "type": "change",
        "z": "eded1cda981068c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "off",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "236f684d2a16d064",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "ON LED 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 140,
        "wires": [
            [
                "6141b9ba3e699917",
                "08ceb8047d8904c1"
            ]
        ]
    },
    {
        "id": "6996d847074b1713",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "OFF LED",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 40,
        "wires": [
            [
                "6141b9ba3e699917",
                "86f860e9e6ae10df",
                "47928a488f469b89",
                "f93c5d9e838a6b27",
                "3fc038015f8a1aa9",
                "08ceb8047d8904c1",
                "03dac6abbd6dbb26",
                "0c01d5fb1bc5a83e",
                "112d9ceee0fc3c37",
                "f4b9952752b477f1"
            ]
        ]
    },
    {
        "id": "f4e455b52f104c17",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "ON LED 2",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 220,
        "wires": [
            [
                "86f860e9e6ae10df",
                "03dac6abbd6dbb26"
            ]
        ]
    },
    {
        "id": "b9aaf6f968cb519a",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "ON LED 3",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 300,
        "wires": [
            [
                "47928a488f469b89",
                "0c01d5fb1bc5a83e"
            ]
        ]
    },
    {
        "id": "742fc5b31dabf821",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "ON LED 4",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 380,
        "wires": [
            [
                "f93c5d9e838a6b27",
                "112d9ceee0fc3c37"
            ]
        ]
    },
    {
        "id": "85e3b52c3176dbaa",
        "type": "function",
        "z": "eded1cda981068c8",
        "name": "ON LED 5",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 460,
        "wires": [
            [
                "3fc038015f8a1aa9",
                "f4b9952752b477f1"
            ]
        ]
    },
    {
        "id": "6141b9ba3e699917",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "LED 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 20,
        "wires": []
    },
    {
        "id": "86f860e9e6ae10df",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "LED 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 160,
        "wires": []
    },
    {
        "id": "47928a488f469b89",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "LED 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 300,
        "wires": []
    },
    {
        "id": "f93c5d9e838a6b27",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "LED 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 440,
        "wires": []
    },
    {
        "id": "3fc038015f8a1aa9",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "LED 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 580,
        "wires": []
    },
    {
        "id": "2caf659de50f5930",
        "type": "debug",
        "z": "eded1cda981068c8",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 120,
        "wires": []
    },
    {
        "id": "08ceb8047d8904c1",
        "type": "rpi-gpio out",
        "z": "eded1cda981068c8",
        "name": "LED 1 (GPIO18)",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2120,
        "y": 60,
        "wires": []
    },
    {
        "id": "03dac6abbd6dbb26",
        "type": "rpi-gpio out",
        "z": "eded1cda981068c8",
        "name": "LED 2 (GPIO17)",
        "pin": "17",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2120,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c01d5fb1bc5a83e",
        "type": "rpi-gpio out",
        "z": "eded1cda981068c8",
        "name": "LED 3 (GPIO27)",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2120,
        "y": 340,
        "wires": []
    },
    {
        "id": "112d9ceee0fc3c37",
        "type": "rpi-gpio out",
        "z": "eded1cda981068c8",
        "name": "LED 4 (GPIO22)",
        "pin": "22",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2120,
        "y": 480,
        "wires": []
    },
    {
        "id": "f4b9952752b477f1",
        "type": "rpi-gpio out",
        "z": "eded1cda981068c8",
        "name": "LED 5 (GPIO23)",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2120,
        "y": 620,
        "wires": []
    },
    {
        "id": "4037e70d97223581",
        "type": "ui_group",
        "name": "simple",
        "tab": "b8ec05ba69b3831c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e839cdc95237a4b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b8ec05ba69b3831c",
        "type": "ui_tab",
        "name": "IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]